@import "tailwindcss";



@keyframes bouncey {
    0% {transform: translateY(0px) rotate(0deg)}
    50% {transform: translateY(-6px) rotate(2deg)} 
    100% {transform: translateY(0px) rotate(0deg)} 
}
.bounceAnimation{ animation: bouncey 4s ease-in-out infinite; }


.splash-bg-radius {
    border-radius: 30% 70% 0% 100% / 73% 0% 100% 27% ;
}

@keyframes border-shift {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  25% {
    border-radius: 50% 50% 40% 60% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 70% 30% 50% 50% / 40% 70% 30% 60%;
  }
  75% {
    border-radius: 40% 60% 60% 40% / 70% 40% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}


.borderShift{ animation: border-shift 10s ease-in-out infinite; }

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% { background-position: 25% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 25% 50%; }
}

.animate-gradient {
  animation: gradient 4s ease infinite;
}

.img-hor-vert {
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.splide__pagination button{
    background-color: #f97316 !important;
    opacity: 0.7 !important;
}

.splide__pagination {
  bottom: -0.5em !important;
}


.loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #444;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        border-color: #FF3D00;
        animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
        inset: 6px;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }


.custom-radious {
  border-radius: 23% 77% 29% 71% / 54% 52% 48% 46%;
}


.font-latin {
  font-family: var(--font-fredoka);
}

.font-arabic {
  font-family: var(--font-cairo);
}
